# Copyright 2025 Cloudsmith Ltd
# Azure DevOps Pipeline: Cloudsmith OIDC Authentication Test

trigger:
- main

pool:
  name: 'Default'

variables:
  CS_WORKSPACE: 'jtaylor-test'
  CS_REPO: 'python'
  CS_SERVICE_SLUG: 'az-service-principal-oidc'

steps:
- checkout: self

# Cloudsmith: Authenticate via OIDC (Cloudsmith CLI is pre-installed globally)
- task: CloudsmithCliSetupAndAuthenticate@1.1.1
  displayName: "Cloudsmith: Authenticate via OIDC"
  inputs:
    authMethod: 'oidc'
    oidcAuthOnly: false
    pipInstall: false           # CLI already installed globally
    cliVersion: ''
    oidcNamespace: '$(CS_WORKSPACE)'
    oidcServiceSlug: '$(CS_SERVICE_SLUG)'

# test authentication with Cloudsmith CLI
- bash: |
    set -eo pipefail
    cloudsmith whoami
  displayName: "Cloudsmith CLI: whoami (verify OIDC auth)"
