# Copyright 2025 Cloudsmith Ltd
# Azure DevOps Pipeline: Cloudsmith OIDC Authentication Test

trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

variables:
  CS_WORKSPACE: 'jtaylor-test'
  CS_REPO: 'python'
  CS_SERVICE_SLUG: 'az-service-principal-oidc'

steps:
- checkout: self

# Cloudsmith: Authenticate via OIDC. CLI and OIDC setup in one step.
- task: CloudsmithCliSetupAndAuthenticate@1.1.1
  displayName: "Cloudsmith: Authenticate via OIDC"
  inputs:
    authMethod: 'oidc'
    oidcAuthOnly: false   # install CLI so 'cloudsmith whoami' works
    pipInstall: true
    cliVersion: ''
    oidcNamespace: '$(CS_WORKSPACE)'
    oidcServiceSlug: '$(CS_SERVICE_SLUG)'

# use latest Python available on agent
- task: UsePythonVersion@0
  inputs:
    versionSpec: '3.x'
  displayName: "Use latest Python"

# test authentication with Cloudsmith CLI
- bash: |
    set -eo pipefail
    cloudsmith whoami
  displayName: "Cloudsmith CLI: whoami (verify OIDC auth)"